/* *Normalizamos y empleamos box-sizing estilo 3 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* & BODY */
body {
	background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* & Estilos para la imagen banner de fondo */
.fondo {
	background-image: url(../img/recorte.jpg);
	background-repeat: no-repeat;
	padding: 20px;
	margin-top: 70px;
	margin-left: 50px;
	margin-right: 50px;
	object-fit: cover;
	height: 250px;
	margin-bottom: 10px;
	border-radius: 9px;
}
/* ?Elegimos el posicionamiento de nuestro logo */
.logo {
	display: inline-block;
	width: 140px;
	position: absolute;
	left: 60px;
	top: 400px;
}
/* & Estilo del titulo h1  */
.title {
	float: left;
	position: absolute;
	left: 50px;
	top: 2px;
	color: #f6f6f4;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	z-index: 1;
}

/* & Barra de navegación contenedor*/
.navegador {
width: 100%;
height: 50px;
background-color: black;
top: 0px;
left: 0px;
position: absolute;

}
/* & Botones de navegación y efectos */
.btn {
	color: white; 
	font-size: 15px;
	text-align: center;
	font-family: 'Lato', "Sans-serif";
	padding: 5px;
	background-color: black;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-top: 9px;
	margin-left: 10px;
left: 950px;
}
.btn:hover {
	color: #010242;
	background-color: #ffffff;;
}
/* & titulo del h2 - Eventos próximos*/
.title-2 {
	width: 1250px;
	text-align: center;
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: whitesmoke;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	word-spacing: 4px;
	padding-top: 5px;
	padding-bottom: 10px;
	display: inline-block;
	position: absolute;
	margin-bottom: 5px;
	top: 360px;
	left: 50px;
}
/* & Elemento oculto*/
.estado {
	display: none;
}
/* & Envoltorio de los elementos del section*/
.wrapped {
	height: 90%;
	width: 1250px;
	background: whitesmoke;  /* fallback for old browsers */
    padding-bottom: 10px;
	margin-left: 50px;
	margin-top: 63px;
	padding-top: 15px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.482);

}
/* & Envoltorio de los elementos del section*/
.container {
	display: block;
	margin-right: 250px;
	margin-left: 180px;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 5px;
	width: 900px;
	border-left: 3px solid #414646;
}
/* & titulo de los articles*/
.title-3 {
	display: block;
	text-align: left;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	margin-left: 20px;
	padding: 5px;
}
/* & parrafos y efecto de posicionamiento*/
.parrafo {
	display: block;
	text-align: left;
	color: black;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
	margin-bottom: 10px;
	line-height: 1.5;
	text-align: justify;
	
	
}
.efecto:hover{
	color: black;
}
/* & espaciado de los contenidos del main*/
.espaciado {
	margin-bottom: 25px;
	width: 60%;
	display: grid;
}
/* & estilos del footer*/
.beatiful-footer {
	position: absolute;
	padding-left: 90px;
	padding-right: 100px;
	padding-bottom: 44px;
	padding-top: 30px;
	border-bottom: 50px solid whitesmoke;
	width: 100%;
	height: 260px;
	background-color: black;
	margin-top: 20px;
	
}
.title-4{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
	text-align: left;
	color: whitesmoke;
	display: block;
	margin-left: 10px;
}
.contenedor-2{
 width: max-content;
 position: absolute;
 justify-content: center;
 left: 200px;
 border-left: 6px solid white;
}
.contenedor-icon{
	display: inline-block;
	text-decoration: none;
}
.icons{
	color: whitesmoke;
	margin: 15px;
}
.contact {
	display: block;
	text-align: left;
	color: #010242;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 10px;
	margin-bottom: 5px;
}
.sangria{
	text-indent: 1cm;
}